.catalog {

}

    .catalog__list {
        margin: -12px;
    }

        .catalog__list__item {
            display: inline-block;
            vertical-align: top;
            width: 300px;
            margin: 12px;
        }

    .catalog__pagination {
        margin-top: 65px;
    }