.col {

}
    .col__item {
        margin: 20px 0 0;
    }

    .col__item_center {
        text-align: center;
    }

    .col__item_right {
        text-align: right;
    }

    .col__item:first-child {
        margin-top: 0;
    }