.footer {
    margin: 71px -25px -20px;
    padding: 46px 25px 80px;
    background: #f49a34;
    font-size: 14px;
    line-height: 17px;
    color: #000;
}

    .footer__column {
        display: inline-block;
        vertical-align: top;
        width: 300px;
        margin: 0 0 0 25px;
    }
        .footer__column__item {
            margin: 42px 0 0;
        }
            .footer__column__item__title {
                font-weight: bold;
            }

            .footer__column__item__body {
                margin: 7px 0 0;
            }

            .footer__column__item__body_pushed {
                margin-top: 21px;
            }

        .footer__column__item:first-child {
            margin-top: 0;
        }

    .footer__column:first-child {
        margin-left: 0;
    }
