.index {
    font-size: 14px;
    line-height: 26px;
}
    .index__section {
        margin: 42px 0 0;
        border-top: 2px solid #c1c1c1;
        padding: 44px 0 0;
    }

        .index__section__title {

        }

        .index__section__body {
            margin: 38px 0 0;
        }

        .index__section__footer {
            margin: 32px 0 0;
        }
            .index__section__footer__details {
                text-align: right;
            }

    .index__section:first-child {
        margin-top: 0;
        border-top: 0;
        padding-top: 0;
    }

