.index {

}

    .index__news {

    }

        .index__news__title {

        }

        .index__news__list {
            margin-top: 37px;
        }

            .index__news__list__item {
                width: 280px;
                display: inline-block;
                vertical-align: top;
                margin-left: 30px;
            }

            .index__news__list__item:first-child {
                margin-left: 0;
            }

        .index__news__link {
            text-align: right;
            margin-top: 33px;
        }

    .index__separator {
        height: 2px;
        background: #c1c1c1;
        margin-top: 46px;
    }

    .index__bonus {

    }

        .index__bonus__title {
            margin-top: 44px;
        }

        .index__bonus__text {
            margin-top: 38px;
            font-size: 14px;
            line-height: 26px;
        }

        .index__bonus__link {
            text-align: right;
            margin-top: 33px;
        }

