.link {
    text-decoration: underline;
    color: #699938;
    font-size: 14px;
    line-height: 16px;
}

.link:hover {
    text-decoration: none;
}

.link_title {
    font-size: 16px;
    line-height: 18px;
}