.menu {
    font-size: 14px;
    line-height: 16px;
    color: #000;
}

    .menu__item {
        margin-top: 10px;
    }

    .menu__item:first-child {
        margin-top: 0;
    }

        .menu__item__link {
            color: #699938;
            font-size: 14px;
            line-height: 16px;
        }

