.news-preview {
    font-size: 14px;
    line-height: 16px;
    color: #000;
}

    .news-preview__date {

    }

    .news-preview__title {
        margin-top: 18px;
        font-weight: bold;
    }

    .news-preview__text {
        margin-top: 21px;
    }
