.page {

}
    .page__header {
        background: url(../images/header_background.png) no-repeat center top;
    }

    .page__nav {
        margin: 20px 0 0;
    }

    .page__body {
        margin: 20px 0 0;
    }

    .page__footer {
        margin: 20px 0 0;
    }