.page {

}
    .page__header {
        background: url(../images/header_background.png) no-repeat center top;
    }

    .page__body {
        margin: -266px 0 0px;
        position: relative;
    }

    .page__footer {
        margin: 52px 0 0;
    }