.pagination {
    text-align: center;
    cursor: default;
    color: #000;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
}

    .pagination__item {
        display: inline-block;
        vertical-align: middle;
        margin: 0 2px;
    }

        .pagination__item__link {
            color: #69a338;
            text-decoration: underline;
        }

        .pagination__item__link_active,
        .pagination__item__link:hover {
            color: #000;
            text-decoration: none;
        }


    .pagination__item:first-child {
        margin-left: 0;
    }

    .pagination__item:last-child {
        margin-right: 0;
    }


