.row {
    margin: -10px -20px;
}
    .row__item {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        width: auto;
		text-align: left;
        padding: 10px 20px;
    }

    .row__item_12 { width: 100%; }
    .row__item_11 { width: 91.66666666666666%; }
    .row__item_10 { width: 83.33333333333334%; }
    .row__item_9 { width: 75%; }
    .row__item_8 { width: 66.66666666666666%; }
    .row__item_7 { width: 58.333333333333336%; }
    .row__item_6 { width: 50%; }
    .row__item_5 { width: 41.66666666666667%; }
    .row__item_4 { width: 33.33333333333333%; }
    .row__item_3 { width: 25%; }
    .row__item_2 { width: 16.666666666666664%; }
    .row__item_1 { width: 8.333333333333332%; }


