.sign-up {

}

    .sign-up__left {
        display: inline-block;
        vertical-align: top;
        width: 450px;
        margin-top: 41px;
    }

        .sign-up__left__form {

        }

    .sign-up__right {
        display: inline-block;
        vertical-align: top;
        width: 450px;
        margin-left: 45px;
        margin-top: 41px;
    }

        .sign-up__right__description {
            font-size: 14px;
            line-height: 26px;
            color: #000;
        }

        .sign-up__right__features {
            margin-top: 40px;
        }

            .sign-up__right__features__item {
                margin-top: 23px;
            }

            .sign-up__right__features__item:first-child {
                margin-top: 0;
            }

            .sign-up__right__features__item_pushed {
                margin-top: 25px;
            }