.social {

}
    .social__item {
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 24px;
    }
        .social__item__link {
            display: block;
        }

    .social__item:first-child {
        margin-left: 0;
    }